/*
:root{
	--background-color1: #282b30;
	--background-color2: #1e2124;
	--primary-color1:  	#7289da;
	--primary-color2: #4f62a5;
	--text-color: #ffffff;
	--dull-text-color: #aaaaaa;
	--paypal-color: #f7be3a;
	--dull-paypal-color: #b9730a;
}
*/
:root{
	--background-color1: #eeeeee;
	--background-color2: #dddddd;
	--background-color3: #aaaaaa;
	--primary-color1:  	#182939;
	--text-color: #282b30;
	--paypal-color: #f7be3a;
	--link-color: #43598b;
}
* {
	box-sizing: border-box;
	font-family: roboto, "helvetica neue", Arial, sans-serif;
	font-size: 16px;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: var(--text-color);
	background-color: var(--background-color1);
	margin: 0;
	padding-bottom: 100px; /* Same height as footer */
}
h1, h2, h3, h4, h5 {
	color: var(--dull-text-color);
}
.h1-align {
	font-size: 20px;
}
.content-wrapper {
	max-width: 80%;
	min-width: 50%;
	margin: 0 auto;
}

header {
	background-color: var(--primary-color1);
}
header .content-wrapper {
	display: flex;
}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 20px;
	margin: 0;
	padding: 24px 0;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
}
header nav a {
	text-decoration: none;
	color: var(--background-color1);
	padding: 10px 10px;
	margin: 0 10px;
	font-weight: bold;
}
header nav a:hover {
	text-decoration: underline;
	filter: brightness(0.85);
}
header .nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
}
header .nav a {
	text-decoration: none;
	color: var(--background-color1);
	padding: 10px 10px;
	margin: 0 10px;
	font-weight: bold;
}
header .nav a:hover {
	text-decoration: underline;
	filter: brightness(0.85);
}
footer {
	position: absolute;
	bottom: 0;
	background-color: var(--primary-color1);
	padding: 20px 0;
	width: 100%;
}


/* PAYPAL DESIGN */
.paypal {
	padding-bottom: 40px;
}
.paypal img {
	border: 0px;
}
.paypal button {
	display: inline-block;
	padding: 10px 20px 7px 20px;
	background-color: var(--paypal-color);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	width: 215px;
	transition-property: background-color;
  	transition-duration: 2s;
}
.paypal button:hover {
	background-color: var(--dull-paypal-color);
}

.form-redirect {
	text-align: center;
	color: var(--dull-text-color);
}


/* REGISTER FORM DESIGN */
.register a, .login a {
	color: var(--link-color);
}
.register a:hover, .login a:hover {
	filter: brightness(0.5);
}
.register {
	width: 400px;
	background-color: var(--background-color2);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.register h1 {
	text-align: center;
	color: var(--text-color);
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.register form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.register form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
    height: 50px;
	background-color: var(--primary-color1);
	color: var(--background-color1);
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="groupname"] {
	width: 310px;
	height: 50px;
	border: 1px solid var(--text-color);
	margin-bottom: 20px;
	padding: 0 15px;
}
.register form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: var(--primary-color1);
    border: 0;
	cursor: pointer;
	font-weight: bold;
	color: var(--background-color1);
	transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
	filter: brightness(1.5);
}


/* LOGIN FORM DESIGN */
.login {
	width: 400px;
	background-color: var(--background-color2);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.login h1 {
	text-align: center;
	color: var(--text-color);
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.login form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--primary-color1);
	color: var(--background-color1);
}
.login form input[type="password"], .login form input[type="text"] {
	width: 310px;
	height: 50px;
	border: 1px solid var(--text-color);
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"] {
	width: 100%;
	padding: 15px;
   margin-top: 20px;
	background-color: var(--primary-color1);
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	filter: brightness(1.5);
}

/* TABLES */
table {
	min-width: 75%;
	border-collapse: collapse;
	margin-left: auto;
  	margin-right: auto;
}
th, td {
	padding: 15px;
	text-align:left;
}
th {
	background-color: var(--background-color3);
}
tr:nth-child(even) {
	background-color: var(--background-color2);
}
tr:nth-child(odd) {
	background-color: var(--background-color1);
}
tr:hover {
	filter: brightness(85%);
}

/* Modals */
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.flex-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0px 11.5% 0px 11.5%;
	align-items: center;
	padding:10px;
}
#modal-button {

	width: 20%;
	padding: 15px;
    margin-top: 20px;
	background-color: var(--primary-color1);
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
#modal-button:hover {
	filter: brightness(1.5);
}